<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница 1</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="loader"></div>
    <div class="content">
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'add_book' %}">Добавить книгу</a>
            <a href="{% url 'page_one' %}">Страница 1</a>
            <a href="{% url 'page_two' %}">Страница 2</a>
            <a href="{% url 'page_three' %}">Страница 3</a>
        </nav>
        <h1>Это Страница 1</h1>
        <p>Контент страницы 1.</p>
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
